

/*
Reset all sizings
https://stackoverflow.com/questions/18772154/white-space-at-top-of-page*/

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body, html {
	color:#cccccc;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111f28;
	font-family: "Didot",sans-serif;
}

#logo{
	float: left;
	height: 50px;
    width: auto;
    max-height: 400px;
    max-width: 402px;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 402px;
}

.stickynav {
	height: 50px;
  	top: 0;
  	position: fixed;
  	width: 100%;
  	z-index: 9999;
}
.stickynav + .content {/*account for displacement*/
  margin-top: 30px;
}

#navbar {
	height: 50px;
	font-size: 43px;
	background-color: #111f28;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar li:hover
{
	color: #f0f0f0;
	background-color:#313131;
}

#navbar li{
	list-style-type: none;
	display: inline;
	color: #FFFFFF;
	height: 100%;
	position: (0px,0px);
	padding-left: 10px;
	padding-right: 10px;
}

#navbar a{
	color:#cccccc;
}

#booking{
	background-color: #cccccc;
  	height: 40%;
  	background-clip: content-box;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	background-image:url("../imgs/studioset2.jpg");
}
#booknow{
	left: 50%;
	top:30%;
	width: 20%;
	object-fit: contain;
	height: auto;
	position:absolute;
	background-color: #cccccc;
}
#div2block{
	background-color: #111f28;
	width:100%;
	position:relative;
  	display: inline-block;
}

#div3block{
	background-color: #111f28;
	width:100%;
	position:relative;
	display: inline-block;

}
#div3block > div{
  float:left;
  margin:10px;
}

#blockimg{
	background-color: #cccccc;
  	height: 30vh;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	display: inline-block;
	background-image:url("../imgs/studioset1.jpg");
	width: 50%;
}


#blockimg > h3{
	font-family: "Arial";
	color:  #cccccc;
}
#blocktype1{
	position:relative;
	box-shadow: 0 10px 5px  rgba(31,31,31,.6);
	width: 30%;
	height:100%;
	display: inline-block;
	vertical-align: middle;
}
#blocktype2{
	position:absolute;
	box-shadow: 0 10px 5px  rgba(31,31,31,.6);
	padding-left: 60px;
	padding-right: 60px;
	display: inline-block;
    vertical-align: bottom;
	top:10%;
	text-align: center;
}
#blocktitle{
	text-align: center;
	padding-bottom: 20px;
}

#blocktext{
	text-align: center;
	line-height: 1.6;
	font-size:28px;
}

#blocklist{
	vertical-align: center;
	list-style-position: inside;
	list-style-type: square;
	padding-bottom: 20px;
	text-align: center;
	font-size:28px;
}

#blocklist > li{
	padding-top: 5px;
}



#contactbar {
	box-shadow: inset 0px 22px 32px -20px rgba(0,1,17,1);
	height: 10%;
	max-height: 200px;
	font-size: 43px;
	background-color: #FFFFFF;
}
#contactbar a{
	font-size: 43px;
	color: #111f28;
}
#contactbar p{
	font-size: 20px;
	color: #111f28;
}


#contactbar li{
	list-style-type: none;

	text-align: right;
	position: (0px,0px);
	padding-left: 10px;
	padding-right: 10px;
	line-height: 3;
}


#contactbar ul {
	margin: 0;
	padding: 0;
	height:100%;
	max-height: 200px;
}

#imglnkbottem{
	position: relative;
	float: left;
	height: 5%;
	height: 100%;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}

.flexcontainer {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left:10%;
  align-items: center;
  align-content: start
}
.flexcontainer:after {
  display: block;
  content: " placeholder ";
  margin: 10px;
  flex: 999 999 auto;
}
.flexcontainer div {
	text-align: center;
	background-color:#000000; 
	margin: 20px;
}
.fleximg{
	margin-right: 40px;
	margin-left: 40px;
	padding: 5px;
	height: 30vh;
}



.item {
  flex: 0 0 auto;
  margin: 10px;
}









h1{
	color:#cccccc;
	font-size: 32px;
}

h2{
	font-size: 32px;
}
h3{
	font-size: 25px
}
li{
	font-family: "Didot";
	color:#cccccc;
}

a{
	text-decoration: none;
}



/*a:hover {
	color: #f0f0f0;
}*/
p{
	color:#cccccc;
}


/*
Colours



#FFFFFF
Very dark (mostly black) #060607
Very dark (mostly black) and blue. #111f28
Very dark grayish blue. #484e52

grey white #cccccc;

Star Command Blue 	2176AE
Maxumum Red 		D62828
Orange 				F77F00
Spring Green 		5EFC8D
Blanched Almond 	FFECCC	(whitish)
Charleston Green 	2A2B2A	(blackish)
*/